aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1698945915105/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964853148/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1711824856061/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1708355285029/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1695386546427/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru==2.0.4
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel==2.15.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1712901085037/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1714071803448/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1709713288616/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
confluent-kafka @ file:///home/conda/feedstock_root/build_artifacts/python-confluent-kafka_1666954605864/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429905637/work
cucim @ file:///opt/conda/conda-bld/work/python/cucim
cuda-python @ file:///home/conda/feedstock_root/build_artifacts/cuda-python_1714605500104/work
cudf @ file:///opt/conda/conda-bld/work/python/cudf
cudf_kafka @ file:///opt/conda/conda-bld/work/python/cudf_kafka
cugraph @ file:///opt/conda/conda-bld/work/python/cugraph
cuml @ file:///opt/conda/conda-bld/work/python
cuproj @ file:///opt/conda/conda-bld/work/python/cuproj
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy-split_1714404887037/work
cuspatial @ file:///opt/conda/conda-bld/work/python/cuspatial
custreamz @ file:///opt/conda/conda-bld/work/python/custreamz
cuxfilter==24.4.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1706897049115/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1706311375733/work
dask-cuda @ file:///opt/conda/conda-bld/work
dask-cudf @ file:///opt/conda/conda-bld/work/python/dask_cudf
dask-expr @ file:///home/conda/feedstock_root/build_artifacts/dask-expr_1707599632039/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1713873501462/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1707444420542/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1706315353433/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1709190728464/work
docker-pycreds==0.4.0
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1709024422129/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1715196982285/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1716205772095/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1703780968325/work/dist
fastrlock @ file:///home/conda/feedstock_root/build_artifacts/fastrlock_1702696298817/work
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1714422806336/work
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1702004617886/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1709209270269/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1712344558731/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1715865800631/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/gdal-split_1702293966188/work/build/swig/python
geographiclib @ file:///croot/geographiclib_1683807314487/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1714335488963/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1709140178986/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1717160711358/work
gradio_client @ file:///home/conda/feedstock_root/build_artifacts/gradio-client_1717042628924/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1707758049702/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1716918782753/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1709942179630/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1713760653872/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1715263367085/work
ipywidgets==8.1.3
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5==0.9.25
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1710805637316/work
jupyter-lsp==2.2.5
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257277185/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1712884210432/work
jupyter_server_proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1710368912227/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1710262634903/work
jupyterlab==4.2.1
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1707149102966/work
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1712342969017/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1707129103613/work
llvmlite==0.42.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1704831084136/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1696563523338/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899921127/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976200404/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1715570196093/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1715670632672/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040698785/work
multipledispatch==0.6.0
munkres==1.1.4
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1714477135335/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
notebook==7.2.0
notebook_shim==0.2.4
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1711475179870/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
nvtx @ file:///home/conda/feedstock_root/build_artifacts/nvtx_1708093799817/work
nx-cugraph @ file:///opt/conda/conda-bld/work/python/nx-cugraph
openpyxl @ file:///croot/openpyxl_1714158863747/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1714769413138/work/target/wheels/orjson-3.10.3-cp310-cp310-linux_x86_64.whl#sha256=afecacfd3927f673e0e30d7ce8aa999fc8bca4a2d773b61602214cf8cebd26f7
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1706394519472/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1708708607448/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1714056447646/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1711102884605/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pathtools==0.1.2
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154467551/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==4.25.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722392846/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==14.0.2
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyct @ file:///home/conda/feedstock_root/build_artifacts/pyct_1701103738301/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1716962135768/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1716937816338/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1644152123334/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pylibcugraph @ file:///opt/conda/conda-bld/work/python/pylibcugraph
pylibraft @ file:///opt/conda/conda-bld/work/python/pylibraft
pynvjitlink @ file:///opt/conda/conda-bld/work
pynvml @ file:///home/conda/feedstock_root/build_artifacts/pynvml_1639061605391/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pyppeteer @ file:///home/conda/feedstock_root/build_artifacts/pyppeteer_1643233645996/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1699268071886/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1707760088566/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyviz_comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1715168266915/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1695567558330/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1715024398995/work
qtconsole==5.5.2
QtPy==2.4.1
raft-dask @ file:///opt/conda/conda-bld/work/python/raft-dask
rapids-dask-dependency @ file:///opt/conda/conda-bld/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rmm @ file:///opt/conda/conda-bld/work/python
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1715090007604/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1705697867335/work
ruff @ file:///home/conda/feedstock_root/build_artifacts/ruff_1716956833548/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1697028626781/work/dist/scikit_image-0.22.0-cp310-cp310-linux_x86_64.whl#sha256=6c8036af11a5f2bf6fdd54b2feaf836dde1a27bdf20d80edad07f7770e4a9fd0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1715869161825/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1714794084074/work/dist/scipy-1.13.0-cp310-cp310-linux_x86_64.whl#sha256=1b23d09acbb18bf2ef511e042f27dfb1ef2ab90dde7fc585f2f7ce45f62bb827
seaborn @ file:///croot/seaborn_1673479180098/work
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1712584999685/work
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1716480590621/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1696431166166/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1715876446107/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
simpervisor @ file:///home/conda/feedstock_root/build_artifacts/simpervisor_1684441099342/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1709667058396/work
statsmodels @ file:///croot/statsmodels_1689937266057/work
streamz @ file:///home/conda/feedstock_root/build_artifacts/streamz_1659013840126/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1702066284995/work
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1715331985720/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1713974937325/work
tomli==2.0.1
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1690458286251/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1708363098266/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
treelite @ file:///home/conda/feedstock_root/build_artifacts/treelite_1714790088265/work/python
typer==0.12.3
typer-slim==0.12.3
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1710589910274/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1707507364877/work
ucx-py @ file:///opt/conda/conda-bld/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1715783105793/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1697813446430/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1716909771924/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1711408286622/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1666806213473/work
widgetsnbextension==4.0.11
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1715608052382/work
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1711561898872/work/python-package
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1712209912887/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508292061/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
